body {
    background-color: #121212;
    color: white;
}
header, footer {
    background-color: #1c1c1c;
}

.nav-link {
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ffffff;
}

h5 {
    margin-bottom: 1rem;
}

.btn-custom {
    background-color: #1db954;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-custom:hover {
    background-color: #1aa34a;
    transform: scale(1.05);
}

.btn-custom:focus {
    outline: none;
}

.form-signin {
    max-width: 800px;
    margin: auto;
    background-color: #2c2c2c;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.form-playlist {
    max-width: 500px;
    margin: auto;
    background-color: #2c2c2c;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.form-control {
    background-color: #3a3a3a;
    color: white;
    border: 1px solid #1db954;
    border-radius: 25px;
}

.form-control:focus {
    border-color: #1aa34a;
    box-shadow: 0 0 5px rgba(29, 185, 74, 0.5);
}

.btn-primary {
    background-color: #1db954;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #1aa34a;
}

.text-body-secondary {
    color: #aaa;
}

.playlist-container {
    max-width: 800px;
    margin: auto;
    background-color: #2c2c2c;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.main-container {
    background-color: #2c2c2c;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

input[type="file"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar {
    background-color: #212529;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.nav-link {
    color: #ffffff;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #1db954;
    border-radius: 5px;
}

.track-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #333;
}

.track-item:last-child {
    border-bottom: none;
}

.track-item strong {
    font-size: 1.2rem;
}

.track-item span {
    font-size: 0.9rem;
    color: #aaa;
}

.audio-player {
    max-width: 300px;
    width: 100%;
}

@media (min-width: 769px) {
    .sidebar .nav {
        flex-direction: row;
    }
    aside {
        min-height: 100vh;
    }
}
